extends layout

block content
    body
        .container
            .row.justify-content-center
                .col-md-4
                    .card
                        h2.text-center Sign up
                        form(method='POST')
                            .form-group.mx-3
                                label(for='username') Username
                                input#username.form-control(type='text' name='username' required)
                            .form-group.mx-3
                                label(for='email') Email 
                                input#email.form-control(type='text' name='email' required)
                            .form-group.mx-3
                                label(for='password') Password
                                input#password.form-control(type='password' name='password' required)
                            .form-group.mx-3
                                label(for='retyped_password') Please Retype Your Password
                                input#password.form-control(type='password' name='retyped_password' required)
                            .d-flex.justify-content-center
                                button.btn_signup_login.btn-primary.btn-block( type='submit') Submit
                        p2(style = 'text-align: center') Already have an account? 
                        a.button(style = 'text-align:center', href = '/login') log in 



